body{
    margin: 0;
    padding: 0;
   }

.center{ 
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
   }
 h1{

color: #89A6C9;
 font-size: 32px;
 font-family: Inter;
 font-weight: 400;
 word-wrap: break-word;
 text-align: center;
   }
   
label{
    color: #000;
    font-size: 25px;
    font-family: Inter;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}

input {
    width: 326px;
    height: 50px;
    flex-shrink: 0;
    background-color: #dae3ef;
    border: #89A6C9;
    
}

button{
    width: 200px;
    height: 50px;
    flex-shrink: 0;
    background-color: #AA0000;
    border-radius: 20px;
    color: #FFF;
    font-size: 20px;
    font-family: Inter;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    position: relative;
    top: 12px;

}

a{
    color: #89A6C9;
    font-size: 20px;
    font-family: Inter;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}