
  /* Hide scrollbar for all elements */
::-webkit-scrollbar {
  width: 0.5em;
}

::-webkit-scrollbar-track {
  background-color: transparent;
}

::-webkit-scrollbar-thumb {
  background-color: #58B2C9;
  opacity: .9;
  border-radius: 22px;
}

/* Optional: Style scrollbar on hover */
::-webkit-scrollbar-thumb:hover {
  background-color: #58B2C9;
  opacity: 1;
  border-radius: 22px;
}
