<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link rel="icon" type="image/x-icon" href="{{ url_for('static', filename='images/favicon.ico') }}">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>info</title>
    <link rel="stylesheet" href="/static/css/info.css">
    <link rel="stylesheet" href="/static/css/styles.css">
</head>
<body>
    <div class="center">
    <form action="contactform." method="post">
        <div class="info">
        <label for="ID">Enter your ID:</label><br>
        <input id="ID" type="number" placeholder="Please enter your ID"> <br>
    </div>
       
        <div> <img src="unsplash_aEaohrsWexg.png"></div>

        <button id="btn2" onclick="location.href='drobPhoto.html';"> Start Scanning</button>
    </form>
    </div>
</body>
</html>