<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="icon" type="image/x-icon" href="{{ url_for('static', filename='images/favicon.ico') }}">
  <title>scan</title>
    <link rel="stylesheet" href="/static/css/scan.css">
</head>
<body> 
    <h1>Simple Body Scanning Example</h1>
  <video id="video" autoplay></video>
  <canvas id="canvas"></canvas>
  <button id="capture">Capture Image</button>
  <script src="script.js"></script>
</div>
</body>
</html>
