<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
  <link rel="icon" type="image/x-icon" href="{{ url_for('static', filename='images/favicon.ico') }}">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  
  <title>sign in</title>
    <link rel="stylesheet" href="/static/css/sign.css">
    <link rel="stylesheet" href="/static/css/styles.css">



</head>

<body>

    <a href="/">

        <img src="/static/images/logo.png" class="img">
    </a>
    <div class="center">
        <h1>Sign in</h1>
        <form action="dashboard" method="post">
            <label for="E-mail">E-mail</label><br>
            <input id="E-mail" type="text" placeholder="Please enter your email"> <br>

            <label for="password">password</label><br>
            <input id="password" type="password" placeholder="Please enter your password"><br>
            <div class="btn_div">

                <button id="btn" onclick="location.href='welcome.html';">login</button>
                <div class="singup_link">
                    <h3> Not a member?
                    </h3>
                    <a href="/signup">sing up here</a>
                </div>
            </div>

    </div>



    </form>
</body>

</html>