<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
  <link rel="icon" type="image/x-icon" href="{{ url_for('static', filename='images/favicon.ico') }}">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Welcome</title>
    <link rel="stylesheet" href="/static/css/welcome.css">
    <link rel="stylesheet" href="/static/css/styles.css">
</head>
<body>
    <div> <img src="medAi 2.png"></div> 
    <div><button>Welcome</button></div>
     </div>
</body>
</html>